
body {
    background: url(https://png.pngtree.com/thumb_back/fw800/back_our/…food-leaflet-background-material-image_159443.jpg); 
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    margin: 0;
}


.menu-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    width: 80%;
    margin: 50px auto;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.section-title {
    background: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 20px;
}


.menu-item {
    display: inline-block;
    background: white;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 200px;
    text-align: center;
}


.menu-item img {
    width: 80px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid gold;
}


.menu-item h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #5a2a00;
}

.menu-item p {
    font-size: 16px;
    font-weight: bold;
}
