
body {
    background: url(https://i.pinimg.com/736x/ba/ce/de/bacede50220f7b1547dc1a9ce2fe2552.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}


.about-container {
    background: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 10px;
}


